/*CSS reset*/
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}

/*Navigation bar*/

header{
	display: flex;
	align-items: center;
	
	background-color: #222e2e;
	justify-content: flex-end;

}

/*Navbar: logo*/
header img{
	display: flex;
	width: 324px;
}

/*Navbar: list Styling*/

#navbar ul{
	display: flex;
	margin-right: 11px;
}
#navbar ul li{

	list-style: none;
	font-size: 0.8rem;
}
#navbar ul li a{
	display: block;
    padding: 10px 12px;
    text-decoration: none;
    margin: 2px;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar ul li a:hover , #navbar ul li a.active{
	background-color: #3c4848;
	color: white
}

 .checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.hprimary{
    text-align: center;
    font-size: 1.7rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 150px;
}
@media (max-width: 800px){
  
  .checkbtn{
    display: block;
  }
  #navbar ul{
  	flex-direction: column-reverse;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    justify-content: flex-end;
  }
  #navbar ul li{
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }
  #navbar ul li a{
    font-size: 20px;
  }
  #navbar ul li a:hover,#navbar ul li a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .hprimary{
    font-size: 1.2rem;
    margin-top: 100px;
  }
}

@media (max-width: 600px){
  header img{
    width: 200px;
  }
}


/*Home*/
#home{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*paragraph*/
#home p{
	font-size: 16px;
	padding: 8px;
	/*margin: 2px;*/
	margin-bottom: 12px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

/*buttons*/
.button{
	display: flex;
	/*margin-right: 310px;*/
  justify-content: center;
  flex-wrap: wrap;
}

.btn{
	color: white;
	background-color: #222e2e;
	padding: 8px 21px;
    font-size: 19px;
    font-family: 'Baloo Bhai 2', cursive;
    margin: 5px 10px;
    border: 2px solid #222e2e;
}
.btn a{
	color: white;
	text-decoration: none;
}

/*body image*/
body::before{
	content: "";
    background: url('bgi.jpg') no-repeat center center/cover;
    position: absolute;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

/*footer*/

