/*css reset*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: black;
}
html{
    scroll-behavior: smooth;
}
.topbtn{
    right: 10px;
    bottom: 10px;
    background: #ecd5b0;
    position: fixed;
    z-index: 1;
    color: white;
    padding: 0 11px;
    font-size: 30px;
    border-radius: 50%;
    box-shadow:2px 4px 8px 0px rgba(0,0,0,0.2) ;
}
.topbtn:hover{
    color: white;
}
/*nav*/

/*nav:logo*/
.top {
    max-width: 1162px;
    margin: 0 auto;
    font-size: 16px;
    color: #000;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 300;
}
/*nav: navlists*/

#sticky_navigation{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-clip: white;
    position: sticky;
    top: 1px;
    z-index: 1;
}
.hamburger a{
    display: none;
}
#nav{
    display: flex;
    width: 100%;
    background-color: white;

}
#sticky_navigation::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: -1;
    position: absolute;
    opacity: 0.89;
    box-shadow: 0 8px 6px -6px #999;
}
#nav ul{
    display: flex;
    list-style: none;
    margin: 0 52px;
    padding: 4px 0;
    transform: translateY(-11px);
}

#nav li a{
    color: black;
    text-decoration: none;
    padding: 11px;
    margin: 8px;
    font-family: arial;
    font-size: 15px;
}
#nav li a:hover,#nav li a.active{
    color: #e86390;
}

/*dropdown button*/
.dropbtn {
  font-size: 15px;
  border: none;
  background-color: #ffffff00;
  padding: 0 11px;
  margin: 0px 8px;
}
.cosmetics {
  position: relative;
  display: inline-block;
}
.cosmetics-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: white;
    opacity: 0.9;
}
.cosmetics-content a {
  display: block;
}

.cosmetics-content a:hover {background-color: #ddd;}
.cosmetics:hover .cosmetics-content {display: block;}
.cosmetics:hover .dropbtn {background-color: white;}
.rescosmetic{
    display:none;
}

/*icons*/
.icon{
    display: flex;
    margin-right:40px;
}
.icon a{
    color: black;
    font-size: 20px;
    margin: 0 10px;
}
/*Image slider*/
.slider{
    max-width: 100%;
    width: 1169px;
    height: 525px;
    background: url(img/various1.png)no-repeat center center/cover;
    margin: auto;
    animation: slide 20s infinite;
    box-shadow: 1px 1px 5px;
}


@keyframes slide{
    20%{
        background: url(img/various1.png)no-repeat center center/cover;
    }
    40%{
        background: url(img/various2.jpg)no-repeat center center/cover;
    }
    60%{
        background: url(img/various3.jpg)no-repeat center center/cover;
    }
    80%{
        background: url(img/various4.jpg)no-repeat center center/cover;
    }
    100%{
        background: url(img/various6.png)no-repeat center center/cover;
    }
}

.slider_background{
    background-color: #FFEFD5;
}
.slider_background h2{
    font-size: 40px;
    line-height: 50px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px #000;
}
.pic_content{
    position: absolute;
    right: 50%;
    margin-right: 13%;
    top: 30%;
}

.description{
    margin: 25px 90px;

}
.description h1{
    font-family: sans-serif;
}


.contents img{
    height: 100%;
    width:100%;
}

.card-body a{
    font-family: arial;
    text-decoration: none;
    color: black;
}

.card{
    order: none;
    box-shadow: 2px 1px 6px 0px rgb(179 168 168);
}
.rows{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}




.brands{
    margin: 100px auto;
}
.cols5{
    width: 160px;
}
.cols5 img{
    width: 100%;
    cursor:pointer;
    filter: grayscale(100%);
}
.cols5 img:hover{
    filter: grayscale(0);
}
.subcontainer{
    margin: auto;
    max-width: 1080px;
    padding-right: 25px;
    padding-left: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.footer{
    background:#000;
    color:#ededed;
    font-size: 14px;
    padding:60px 0 20px;
}
.footer p{
    color: #fff;
}
footer h3{
    margin-bottom: 10px;
}

.footercol1, .footercol2, .footercol3, .footercol4{
    min-width: 250px;
    margin-bottom: 10px;
}
.footercol1{
    flex-basis: 30%;
}
.footercol2{
    flex: 1;
    text-align: center;
}
.footercol2 img{
    width: 180px;
    margin-bottom:20px ;
}
.footercol3, .footercol4{
    flex-basis: 12%;
    text-align: center;
    
}
.footercol3 li a, .footercol4 li a{
    color: white;
    text-align: center;
    line-height: 21px;
}
ul{
    list-style: none;
    padding: 0;
}
.applogo{
    margin-top: 20px;
}
.applogo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #ededed;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}


/* -------responsive part--------- */

@media only screen and (max-width: 800px) {
    #sticky_navigation{
        justify-content: space-between;
    }
    #nav{
        margin-top: 280px;
        transform: translateX(-35px);
        opacity: 0.9;
        transition: height 1s;
    }
  #nav ul{
      flex-flow: column;
      overflow: hidden;
  }
  #nav li {
      margin:5px 0px;
  }
  #nav li a{
      margin: 0 8px;
  }
  .hamburger a{
      display: inline;
      color: black;
      font-size: 27px;
      margin-left: 12px;
  }
  .cosmetics:hover .rescosmetic {
      display: flex;
      flex-flow: column;
}
  .cosmetics:hover .cosmetics-content {display: none;}

  .slider{
      width: 700px;
  }
  .rows{
      justify-content: center;
  }

  
}
@media only screen and (max-width: 600px) {
    #nav ul {
        margin: 0px;
    }
    .cosmetics:hover .rescosmetic{
        display:flex;
    }
    .rescosmetic a{
        padding: 0 8px;
    }
    .icon{
        margin-right: 0px;
    }
    .slider{
        width: 350px;
        height: 250px;
    }
    .description{
        margin: 25px 25px;
    }
}